# SEMANA 05
Alonso Gavino Ponce Susanibar

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

2. Variables

In [1]:
#Siempre deben iniciar con una letra o un guión abajo. (NUNCA CON UN NÚMERO U OTRO SÍMBOLO)

In [2]:
edad=41
edad

41

In [3]:
nombre = "Alonso"
nombre

'Alonso'

In [4]:
apellido = "Ponce Susanibar"
apellido

'Ponce Susanibar'

In [8]:
nombrecompleto = nombre +" "+ apellido
nombrecompleto

'Alonso Ponce Susanibar'

In [9]:
#Para saber el tipo de variables utilizamos la función type()
#Por ejemplo:

In [10]:
numero = 50
type(numero)

int

In [11]:
type(nombre)

str

In [12]:
talla=1.70
talla

1.7

In [14]:
type(talla)

float

In [23]:
#Para convertir un número en cadena utilizamos la función str()
numero=100
cadena=str(numero)
cadena

'100'

In [22]:
type(cadena)

str

In [20]:
#Para convertir una cadena en un entero utlizamos int()
cadena2 ="50"
numero2 = int(cadena2)
cadena2

'50'

In [21]:
type(numero2)

int

In [17]:
#Para convertir una cadena en un decimal utilizamos float()

In [24]:
cadena2= "50"
numero2 = float(cadena2)
numero2

50.0

In [25]:
type(numero2)

float