# SEMANA 05-05
Alonso Ponce Susanibar

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [1]:
#OPERADORES airméticos 
#Se tiene +,-,*,/,**,//

In [2]:
numero1=10
numero2=3
suma=numero1+numero2
resta=numero1-numero2
multiplicacion=numero1*numero2
division=numero1/numero2
residuo=numero1%numero2
potencia=numero1**numero2
cociente=numero1//numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(potencia)
print(cociente)

13
7
30
3.3333333333333335
1
1000
3

In [3]:
#OPERADORES de asignación
#Se tiene: -, +-, --, *-, /-, **-
numero = 5
numero = numero + 3
print(numero)

8

In [4]:
numero = 5
numero +=3
print(numero)

8

In [5]:
#Ejemplo
numero = 5
numero = numero**3
print(numero)

125

In [6]:
numero=5
numero**=3
print(numero)

125

In [7]:
#Operadores de comparación
#Se tiene ==, !=, <, >, <=, >=

In [8]:
#Ejemplo de igualdad
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [9]:
#Con las cadenas funcionan igual

In [10]:
#OPERADORES lógicos: and, or, not
numero1=5
numero2=6
numero3=7
numero4=8

In [11]:
numero1<numero2

True

In [12]:
#El not invierte el resultado
not(numero1<numero2)

False

In [13]:
numero1<numero2 and numero3<numero4

True

In [14]:
#Tambien puedes usar paréntesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [15]:
#OPERADORES de pertenencia
#Se tiene: in, not in

In [20]:
#Ejemplo:
aula=["Juan", "Daniel","Ruben"]
alumno1="Diego"
alumno2="Juan"

In [21]:
#¿Diego está en aula?
alumno1 in aula

False

In [22]:
#¿Juan está en aula?
alumno2 in aula

True

In [23]:
#¿Diego no está en aula?
alumno1 not in aula

True

In [24]:
#¿Juan no está en aula?
alumno2 not in aula

False

In [25]:
#OPERADORES DE IDENTIDAD
#Se tiene: is, is not

In [41]:
aula1 = ["Juan","Daniel","Ruben"]
aula2 = ["Juan","Daniel","Ruben"]
#Comparte
aula3 = aula1

In [38]:
#¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [39]:
#aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [42]:
#aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [43]:
aula1.append("Diego")

In [44]:
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [45]:
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [46]:
print(aula2)

['Juan', 'Daniel', 'Ruben']